@font-face {
    font-family: 'Primera';
    src: url('../fonts/Primera.woff2') format('woff2'),
        url('../fonts/Primera.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Zing Script Rust SB Demo Base';
    src: url('../fonts/ZingScriptRustSBDemo-Base.woff2') format('woff2'),
        url('../fonts/ZingScriptRustSBDemo-Base.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

body {
    width: Calc(100% - 100.10px);
    margin-left: auto;
    margin-right: auto;
}

.nav-menu,
.nav-menu-2,
.menu,
.menu a,
.menu-1,
.menu-2,
.item,
.link,
.intro {
    padding: 0;
}

.nav-menu {
    width: Calc(100% - 100.10px);
    position: fixed;
    background-color: #ffffff;
    z-index: 1000;
}

.menu {
    position: relative;
    width: 100%;
    height: 95px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    border-bottom: solid 4.5px #d7a566;
    z-index: 10;
}

.item a {
    width: 100%;
    padding-top: 33.5px;
    padding-bottom: 33px;
    margin-left: auto;
    margin-right: auto;
}
.link {

    font-family: "Primera";
    font-size: 26px;
    font-weight: 500;
    line-height: 0.9;
    text-align: center;
    color: #cb2e47;
}
.item a:hover {
    background-color: #cb2e47;
    color: #ffffff;
}

.ativo {
    background-color: #cb2e47;
    color: #ffffff;
}
/*-------------------Slide-------------------*/
.slide-show img {
    width: 100%;
    height: 662px;
}

.legenda {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    font-family: "Primera";
    font-size: 75.8px;
    font-weight: 500;
    line-height: 1.05;
    color: #ffffff;
}

.slide-footer img {
    width: 100%;
}

.intro-section {
    text-align: center;
}


.intro h3 {
    margin-top: 40px;
    margin-bottom: 21.5px;

    font-family: "ZingScriptRustSBDemo-Base";
    font-size: 41.8px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.28;
    color: #cb2e47;
}

.intro p {
    width: 604.5px;
    margin-bottom: 122px;
    margin-left: auto;
    margin-right: auto;

    font-family: "ZingScriptRustSBDemo-Base";
    font-size: 17.8px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.35;
    color: #d7a566;
}
/*------------------fim slide----------------*/

/*-------------------Produtos----------------*/
.produtos-section {
    text-align: center;
}

.produtos-titles h4 {
    font-family: "ZingScriptRustSBDemo-Base";
    font-size: 33.3px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.6;
    color: #d7a566;
}

.produtos-titles h1 {
    margin-bottom: 7.5px;

    font-family: "Primera";
    font-size: 41.8px;
    font-weight: 500;
    line-height: 0.95;
    color: #cb2e47;
}

.produtos {
    width: Calc(100% - 2.5px);
    margin-left: auto;
    margin-right: auto;
}
.produto-card {
    border: 0;
    position: relative;
    overflow: hidden;
    height: 361px;
    border-radius: 0;
    cursor: pointer;
    background-color:#fff3e9;
    background-size: 100%;

    color: #cb2e47;
    text-align: left;
    z-index: 100;
}
.produto-card:hover {
    background-color: #cb2e47;
    color: #ffffff;
}

.corpo {
    position: relative;
    margin-left: 41.5px;
    padding: 0;
}

.corpo a {
    position: absolute;
    bottom: 18px;
}
.produto-card-title {
    max-width: 150px;
    margin-top: 36px;
    
    font-family: "Primera";
    font-weight: 500;
    font-size: 28px;
    color: #daa265;
    line-height: 28px;
}
.produto-card-link {
    font-family: "Zing Script Rust SB Demo Base";
    font-size: 18px;
    font-style: italic;
    color: #cb2e47;
}
.produto-card-img {
    position: absolute;
    max-width: 290px;
    height: auto;
    margin-top: 90px;
    margin-left: 140px;
}
/*----------------fim produros---------------*/
/*-----------------qualidade-----------------*/
.qualidade-section {
    text-align: center;
}

.qualidade h1 {
    margin-top: 87.5px;
    margin-bottom: 71px;

    font-family: "Primera";
    font-size: 41.8px;
    font-weight: 500;
    line-height: 0.95;
    color: #cb2e47;
}

.qualidade p {
    width: 604px;
    height: 66.5px;
    margin-left: auto;
    margin-right: auto;

    font-family: "ZingScriptRustSBDemo-Base";
    font-size: 17.8px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.35;
    color: #d7a566;
}

.qualidade-card {
    border: none;
}
.qualidade-card div h5 {
    margin-bottom: 11px;

    font-family: "Primera";
    font-size: 65px;
    font-weight: 500;
    line-height: 1.36;
    color: #cb2e47;
}

.qualidade-card div p {
    font-family: "ZingScriptRustSBDemo-Base";
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    line-height: 0.21;
    color: #72192d;
}

.botao-link {
    width: 225px;
    height: 61px;
    margin-top: 75px;
    margin-bottom: 45px;
    padding: 21.5px 37.5px 16.5px 39px;
    
    font-family: "ZingScriptRustSBDemo-Base";
    font-size: 23px;
    font-style: italic;
    line-height: 0.2;
    border: #d7a566;
    border-radius: 0;
    background-color: #d7a566;
    color: #ffffff;
}

.botao-link:hover {
    color: #daa265;
    background: 0 0;
    border: 1px solid #daa265;
}

/*----------fim qualidade section------------*/

/*-----------footer-img-section--------------*/
.footer-img img {
    width: 100%;
}

.footer-text {
    padding-top: 26px;
    padding-bottom: 22.5px;
    text-align: center;

    background-color: #d7a566;
}
.footer-text h3 {
    font-family: "ZingScriptRustSBDemo-Base";
    font-size: 32.3px;
    font-weight: 600;
    font-style: italic;
    line-height: 0.74;
    color: #72192d;
}
.footer-text a {
    color: #ffffff;
}
/*---------fim footer-img-section------------*/

/*-------------contato-section----------------*/
.contato-section {
   background-color: #72192d;
}
.contato {
 text-align: center;   
}
.contato a:not(.social-icon) {
    font-family: "ZingScriptRustSBDemo-Base";
    font-style: italic;
    color: #ffffff;
}

.phone {
    margin-top: 63px;
}
.phone img {
    margin-bottom: 15px;
}

.email {
    margin-top: 69px;
}
.email img {
    margin-bottom: 21px;
}
.logo-footer {
    margin-top: 55.5px;
    margin-bottom: 48.5px;
}
.endereco {
    margin-top: 112px;
}
.social {
    margin-top: 88px;
}

.facebook, .instagram {
    background: #d7a566;
    display: inline-block;
    width: 43px;
    height: 43px;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    line-height: 49px;
    color: #72192d;
    transform: perspective(1px) translateZ(0);
    vertical-align: middle;
}